<% content_for :meta_image, "screenshots/home.jpg" %>

<div>
  <%= image_tag("profile_pic_jamesnic_cropped.jpg", class: "img-circle", alt: "Rob Owen King profile picture") %>
  <h1 id="greeting" class="margin-v-0">Hi!</h1>
  <h1 class="margin-v-0">I'm Rob Owen King</h1>

  <ul class="list-inline">
    <li>
      <a href="https://github.com/RobOwenKing" target="_blank" class="no-dec"><i class="fab fa-github-square i-link"></i></a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/robert-king-49240672/" target="_blank" class="no-dec"><i class="fab fa-linkedin i-link"></i></a>
    </li>
    <li>
      <a href="https://twitter.com/RobOwenKing" target="_blank" class="no-dec"><i class="fab fa-twitter-square i-link"></i></a>
    </li>
  </ul>

  <h3>Programmer · Polyglot · Puzzle Fan</h3>
  <p>Maths at Oxford > Teacher and translator in Spain > Full-stack web dev<br>It's been a ride</p>
  <%= link_to "Things I've made", portfolio_path, class: "btn btn-orange btn-home" %>
  <br>
  <%= mail_to "contact@robowenking.com" do %>
    <p class="btn btn-blue">Email me</p>
  <% end %>
</div>

<div class="line-break"></div>

<div class="card">
  <h2>Programmer</h2>
  <i class="fas fa-coffee i-img"></i>
  <p>I've been dabbling in coding since I was about 10: HTML and CSS as a kid, Game Maker as a teen, Matlab at uni. Then in 2019 I found a way to make it my career. I graduated from <%= link_to "Le Wagon", "https://www.lewagon.com/", target: "_blank" %>'s full-stack bootcamp in Barcelona just as the pandemic hit.</p>
  <p>Since then, I've taught myself React, completed a number of courses on <%= link_to "CodeCademy", "https://www.codecademy.com/profiles/teraWhiz35198", target: "_blank" %> and built loads of <%= link_to "projects practicing a wide range of skills", portfolio_path, target: "_blank" %> to prepare to enter the industry. If you're hiring a junior dev near Birmingham, do <%= mail_to "contact@robowenking.com", 'get in touch' %>.</p>
  <p>I love:</p>
  <ul class="list-inline">
    <li><i class="devicon-html5-plain-wordmark colored i-large"></i></li>
    <li><i class="devicon-css3-plain-wordmark colored i-large"></i></li>
    <li><i class="devicon-javascript-plain colored i-large"></i></li>
    <li><i class="devicon-ruby-plain-wordmark colored i-large"></i></li>
    <li><i class="devicon-rails-plain-wordmark colored i-large"></i></li>
    <li><i class="devicon-react-original-wordmark colored i-large"></i></li>
  </ul>
</div>

<div class="line-break"></div>

<div class="card">
  <h2>Polyglot</h2>
  <i class="fas fa-globe-europe i-img"></i>
  <p>Besides coding, I also love everything about languages, from 'dry' grammar to understanding different peoples and cultures. Over the years, I've studied a bunch to different levels, worked as an English teacher and translated professionally (mostly Catalan and Spanish to English).</p>
  <p>Check out <%= link_to "my articles introducing aspects of Catalonia", "https://www.elnacional.cat/en/tag/catalonia-guide", target:"_blank" %> to tourists and my fellow foreigners or <%= link_to "my English learners' quizzes", "https://www.elnacional.cat/en/tag/english-tests", target:"_blank" %> for the same online newspaper, all signed Rob King.</p>
  <p>I speak (best to worst!):</p>
  <%= image_tag("flags/iconfinder_gb_4627.png", class: "img-small", alt: "Flag of the UK", title: "English - native") %>
  <%= image_tag("flags/iconfinder_catalonia_4585.png", class: "img-small", alt: "Flag of Catalonia", title:"Catalan - advanced") %>
  <%= image_tag("flags/iconfinder_es_4616.png", class: "img-small", alt: "Flag of Spain", title: "Spanish - advanced") %>
  <%= image_tag("flags/iconfinder_fr_4625.png", class: "img-small", alt: "Flag of France", title: "French - upper intermediate") %>
  <%= image_tag("flags/iconfinder_de_4604.png", class: "img-small", alt: "Flag of Germany", title: "German - lower intermediate") %>
  <%= image_tag("flags/iconfinder_cn_4595.png", class: "img-small", alt: "Flag of China", title: "Mandarin - beginner") %>
  <%= image_tag("flags/iconfinder_pl_4725.png", class: "img-small", alt: "Flag of Poland", title: "Polish - beginner") %>
</div>

<div class="line-break"></div>

<div class="card">
  <h2>Puzzle Fan</h2>
  <i class="fas fa-user-edit i-img"></i>
  <p>To be honest, maybe puzzles should have come first here as my lifelong love of them is at the heart of many of my other interests, including coding. Recently, I've been most into solving Sudoku and related puzzles, and trying my hand at <%= link_to "setting some", "https://logic-masters.de/Raetselportal/Benutzer/eingestellt.php?name=RobK" %>.</p>
  <p>A couple have even been featured by Youtube channel Cracking the Cryptic to their 400k+ subscribers. "Gorgeous, absolutely gorgeous", "good grief, this is really clever", "such a pleasure to solve" - see what the presenter was talking about with these comments in the video below:</p>
  <div class="iframe-container">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/_0YUlMPmD0w?t=2m14s" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>

<%= javascript_pack_tag 'pages/home' %>
