<% content_for :meta_title, "Coding portfolio - Rob Owen King" %>
<% content_for :meta_description, "From browser toys and tools to full-stack web apps, a selection of my favourite coding projects." %>

<div>
  <h1>My portfolio</h1>

  <p>Here is a selection of my favourite coding projects from before, during and after my bootcamp. Click on any of them for more details and to try them out, or head to <a href="https://github.com/RobOwenKing" target="_blank" class="link-dec">my GitHub page</a> to find the source code.</p>
</div>

<div class="line-break"></div>

<h2>Full-stack web apps</h2>

<div class="flex">
  <%= link_to(quedem_path, class: "card-project") do %>
    <%= image_tag("screenshots/quedem_2.jpg", class: "img-circle", alt: "Screenshot of page to add location poll options on Quedem") %>
    <h3>Quedem</h3>
  <% end %>

  <%= link_to(movida_path, class: "card-project") do %>
    <%= image_tag("screenshots/movida.jpg", class: "img-circle", alt: "Screenshot of list of Nearby Posts on Movida-19") %>
    <h3>Movida-19</h3>
  <% end %>
</div>

<div class="line-break"></div>

<h2>Toys and tools</h2>

<div class="flex">
  <%= link_to(game_of_life_path, class: "card-project") do %>
    <%= image_tag("screenshots/game_of_life.jpg", class: "img-circle", alt: "Screenshot of a game of Conway's Game of Life in progress with its sprawling, colourful patterns.") %>
    <h3>Conway's Game of Life</h3>
  <% end %>

  <%= link_to(tetris_path, class: "card-project") do %>
    <%= image_tag("screenshots/tetris.jpg", class: "img-circle", alt: "Screenshot of my version of Tetris with a game in progress (it's going okay).") %>
    <h3>Tetr-ish</h3>
  <% end %>

  <%= link_to(hip_path, class: "card-project") do %>
    <%= image_tag("screenshots/hip.jpg", class: "img-circle", alt: "Screenshot of the Hip puzzle and/or game in progress.") %>
    <h3>Hip</h3>
  <% end %>

  <%= link_to(prime_pairs_path, class: "card-project") do %>
    <%= image_tag("screenshots/prime_pairs.jpg", class: "img-circle", alt: "Screenshot of Prime Pairs Plus set to order the numbers from 1 to 16 so that every pair adds up to a prime.") %>
    <h3>Prime Pairs Plus</h3>
  <% end %>

  <%= link_to(clocks_path, class: "card-project") do %>
    <%= image_tag("screenshots/clocks.jpg", class: "img-circle", alt: "Screenshot of my Clocks project.") %>
    <h3>Clocks</h3>
  <% end %>

  <% link_to(sudoku_path, class: "card-project") do %>
    <% image_tag("screenshots/sudoku.jpg", class: "img-circle", alt: "Screenshot of my Sudoku app having brute-forced the solution to a puzzle.") %>
    <h3>Sudoku Solver</h3>
  <% end %>

  <%= link_to(star_battles_path, class: "card-project") do %>
    <%= image_tag("screenshots/star_battle.jpg", class: "img-circle", alt: "Screenshot of the Star Battle Creator and Solver") %>
    <h3>Star Battles</h3>
  <% end %>

  <%= link_to(roman_calculator_path, class: "card-project") do %>
    <%= image_tag("screenshots/roman_calculator.jpg", class: "img-circle", alt: "Screenshot of the Roman Numerals Calculator displaying answer MDCCXXIX.") %>
    <h3>Roman Numerals Calculator</h3>
  <% end %>

  <%= link_to(circles_path, class: "card-project") do %>
    <%= image_tag("screenshots/circles.jpg", class: "img-circle", alt: "Screenshot of a black screen with a random pattern of circles on it in green, brown, grey and blue.") %>
    <h3>Circles</h3>
  <% end %>

  <%= link_to(euler_spiral_path, class: "card-project") do %>
    <%= image_tag("screenshots/euler_spiral.jpg", class: "img-circle", alt: "Screenshot of the Euler Spiral implementation, a multi-coloured spiral above sliders to alter its defining properties.") %>
    <h3>Euler Spiral</h3>
  <% end %>

  <%= link_to("https://github.com/RobOwenKing/code_kata", class: "card-project") do %>
    <%= image_tag("screenshots/code_kata.jpg", class: "img-circle", alt: "Screenshot of the code for a Linked List class in Ruby.") %>
    <h3>Code Kata</h3>
  <% end %>
</div>

<div class="line-break"></div>

<h2>For Coders</h2>

<div class="flex">
  <%= link_to(regex_challenges_path, class: "card-project") do %>
    <%= image_tag("screenshots/regex_challenges.jpg", class: "img-circle", alt: "Screenshot of someone trying to use a regular expression to match some Catalan words with special characters to mixed success.") %>
    <h3>Regex Challenges</h3>
  <% end %>

  <%= link_to(colour_translator_path, class: "card-project") do %>
    <%= image_tag("screenshots/colour_translator.jpg", class: "img-circle", alt: "Screenshot of the Colour Translator with the RGB and HSL values for a shade of orange.") %>
    <h3>Colour Translator</h3>
  <% end %>

  <%= link_to(transitions_path, class: "card-project") do %>
    <%= image_tag("screenshots/transition.jpg", class: "img-circle", alt: "Screenshot of my Transitions experiment with examples mid-change.") %>
    <h3>Transitions</h3>
  <% end %>
</div>
