<div class="container">
  <h1>Tetris</h1>
  <br>
  <ul class="list-inline">
    <li id="dark" class="btn btn-blue btn-active">Dark mode</li>
    <li id="light" class="btn btn-orange">Light mode</li>
  </ul>

  <p id="play" class="btn btn-orange">Start new game</p>

  <p>Score: <span id="score">0</span></p>

  <canvas id="tetris" class="canvas-border"></canvas>

  <%= simple_form_for @tetris_score do |f| %>
    <%= f.input :name, label: "Name:  " %>
    <%= f.input :score, as: :hidden %>
    <%= f.submit "Submit score", class: "btn btn-orange" %>
  <% end %>

  <%= link_to "See highscores", tetris_scores_path, class: "btn btn-blue" %>

  <div class="card-1-2">
    <h4>Controls</h4>
    <div>
      <p><kbd>A</kbd> and <kbd>D</kbd> - Move tile left and right</p>
      <p><kbd>S</kbd> - Drop tile (cancel by pressing any other key)</p>
      <p><kbd>J</kbd> and <kbd>L</kbd> - Rotate tile</p>
    </div>
  </div>
</div>

<div class="line-break"></div>

<footer>
  <p>Rob Owen King, 2020</a></p>
</footer>

<%= javascript_pack_tag 'projects/tetris' %>
