<div class="container">
  <h1>Tetris</h1>
  <br>
  <ul class="list-inline">
    <li id="dark" class="btn btn-blue btn-active">Dark mode</li>
    <li id="light" class="btn btn-orange">Light mode</li>
  </ul>

  <p id="play" class="btn btn-orange">Start new game</p>

  <p>Score: <span id="score">0</span></p>

  <canvas id="tetris"></canvas>

  <%= simple_form_for @tetris_score do |f| %>
    <%= f.input :name, label: "Name:  " %>
    <%= f.input :score %>
    <%= f.submit "Submit score", class: "btn btn-orange" %>
  <% end %>


  <%= link_to "See highscores", tetris_scores_path, class: "btn btn-blue" %>

  <%= javascript_pack_tag 'projects/tetris' %>
</div>
